<form action=" {{path('user_delete', {'id': user.id} )}} " method="post" onsubmit="return confirm('Êtes-vous sûr(e) de supprimer cet utilisateur?');">
    <input type="hidden" name="_token" value=" {{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger mx-2 my-2">Supprimer</button>
</form>