{{form_start(formView, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(formView)}}
        <button style="text-decoration: none; color: white;" class="btn btn-success mx-4 my-2">{{ button_label|default('Enregistrer') }}
        </button>
   {{ form_end(formView) }}