{% extends "base.html.twig" %}

{% block body %}

    <section id="black" class="row">
        <!-- Menu de navigation -->
<div class="col-2 my-4 mx-auto">
            <div class="offcanvas bg-dark offcanvas-start sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

                <div class="offcanvas-body p-0">
                    <nav class="navbar-dark">
                        <ul class="navbar-nav">
                            <li>
                                <div class="text-muted small fw-bold text-uppercase px-3">
                                    backoffice
                                </div>
                            </li>
                            <li>
                                <a href="{{path('backoffice_home')}}" class="nav-link px-3 active">
                                <span class="me-2">
                                    <i class="bi bi-tools"></i>
                                </span>
                                <span>Administration</span>
                                </a>
                            </li>
                            <li class="my-4">
                                <hr class="dropdown-divider">
                            </li> 
                            <li>
                                <div class="text-muted small fw-bold text-uppercase px-3">
                                    Interface
                                </div>
                            </li>

                            <li>
                              <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <span class="me-2"> <i class="bi bi-film"></i> </span>
                                <span>TV Shows</span>
                                <span class="right-icon ms-auto"> 
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                              </a>
                                <div class="collapse" id="collapseExample">
                                    <div>
                                       <ul class="navbar-nav ps-3">
                                            <li>
                                                <a href="{{path('backoffice_tv_show_index')}}" class="nav-link px-3">
                                                    <span class="me-2"> <i class="bi bi-list-stars"></i> </span>
                                                    <span>Liste</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('backoffice_tv_show_new')}}" class="nav-link px-3">
                                                    <span class="me-2"> <i class="bi bi-plus-square"></i> </span>
                                                    <span>Ajouter une série</span>
                                                </a>
                                            </li>
                                       </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    
                    </nav>
                </div>
            </div>
</div>

        <!-- Contenu principal -->
        <div class="">

            {% block content %}{% endblock %}

        </div>
    </section>
</main>
{% endblock %}
