    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button style="text-decoration: none; color: white;" class="btn badge rounded-pill bg-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
