{% extends 'backoffice/layout.html.twig' %}

{% block title %}
    Ajouter une série - Backoffice - {{parent()}} 
{% endblock %}

{% block content %}
<section class="py-2 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Ajouter une série télé</h1>
        </div>
    </div>
</section>

<div class="input-group-sm mb-3 mx-auto text-center" style="width: 450px;">
    {{ include('backoffice/tv_show/_form.html.twig') }}


    <a class="btn btn-secondary m-4" style="text-decoration: none; color: white;" href="{{ path('backoffice_tv_show_index') }}">Retour à la liste</a>

    </div>
</main>
{% endblock %}
