{% extends "base.html.twig" %}

{% block title %}
    Page non trouvée - {{parent()}}
{% endblock %}

{% block body %}

    <h1>Page non trouvée</h1>
    <p>La page que vous demandez n'a pas été trouvée</p>
{% endblock %}