<h1>Activation de votre compte O'Flix</h1>

<p>Vous avez créé un compte sur O'Flix, veuillez cliquer sur le lien afin de l'activer</p>

<p><a href=" {{absolute_url(path('activation', {'token' : token}))}} ">Activer mon compte</a></p>