<h1>Activation de votre compte O'Flix</h1>
<p>Vous avez créé un compte sur O'Flix, veuillez cliquer sur le lien ci-dessous afin de l'activer pour pouvoir vous connecter.</p>
<p><a href=" {{absolute_url(path('activation', {'token' : token} ))}} ">Activer mon compte</a></p>